*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* background-color: #FAFAFA; */
   
  }
  body{
    font-family: "Libre Franklin", sans-serif;
    
  }
  .headcontainer nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .headerUL{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  .headerUL li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
  }
  .headerUL li a:hover{
    font-weight: 800;
    color: rgb(73, 61, 61);
  }


  /* ///////////////////////////////////////////section one/////////////////////////////// */
.mainSection{
  background-color: #eee5e5;
}
  .sec1_contant{
    background-color: #f4e9da;
}
.sec1_contant p{
    width: 50%;
    padding-bottom: 100px;
    padding-left: 100px;
}
.sec1_contant h1{
    width: 40%;
    color: rgb(237, 92, 77);
    padding-left: 100px;
}
.sec1Contairer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

/* ////////////////////////////////////product card section/////////////////////////////////////// */

.productCard {
    width: 230px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    /* background-image: url("../img/1.webp"); */
    background-color: #966a4c;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }

   .card-img img{
    width: 100%;
    height: 40%;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }


   /* -------------------------------------------------------------------------------- */

   .set{
    align-items: center;
    vertical-align:middle;
}
.sec1_contant{
    padding-top: 100px;
}
.boxcontiner{
    display: flex;

    width: 100%;
    height: 100%;
    background-color:  #f4e9da;;
}
.contact-form {
    background-color: #f4e9da;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form label {
    color: black;
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: black;
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #6387ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .pack-container {
    position: relative;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    background-color: #212121;
    border: 1px solid #fff;
    padding: 1.6rem;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list span svg {
    height: 12px;
    width: 12px;
  }
  
  .list p {
    display: block;
    font-family: sans-serif;
  }
  
  .button-container {
    margin-top: 20px;
    padding: 0;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    outline: 0;
    border: 0;
    border-radius: 10px;
  }
   